*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 100%;
  background-color: #1b1919;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  width: 1140px;
}

.result {
  width: 711px;
  margin-top: 75px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  inline-size: 399px;
  gap: 20px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
  margin-top: 18px;
}

.content__list-container {
  block-size: 298px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.content__list {
  display: flex;
  flex-direction: column;
}

.content__list-item {
  padding-inline: 3px;
}

.result__video-container {
  position: relative;
  inline-size: 100%;
  block-size: 386px;
  margin-bottom: 8px;
  background-color: #000;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  gap: 30px;
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  min-inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding-top: 1px;
  min-width: 0;
  overflow: hidden;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 7px;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__fieldset:first-of-type {
  min-width: 225px;
}

.search-form__fieldset:nth-of-type(2) {
  min-width: 212px;
}

.title {
  font-size: 75px;
  font-weight: bold;
  line-height: 94%;
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 0;
  background: transparent;
}

.content__video-card-title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Oswald', sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-transform: uppercase;
  line-height: 1;
  padding-top: 2px;
  padding-bottom: 5px;
  display: block;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 16.2px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.search-form__checkbox-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 18px;
}

.search-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 3px;
  inline-size: fit-content;
}

.search-form__label-text {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Fira Sans Condensed', sans-serif;
}

.search-form__textfield {
  min-inline-size: 225px;
  padding-block: 2px;
  border: none;
  border-block-start: 1px solid #fff;
  border-block-end: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font: inherit;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
  padding: 1px;
  box-sizing: border-box;
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  inline-size: 100%;
  block-size: 100%;
  background-color: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font: inherit;
  font-weight: 700;
  line-height: 1;
  padding-block: 7px;
  padding-inline: 73px;
  cursor: pointer;
}

.search-form__submit-button {
  margin-top: 18px;
}

.more-button {
  inline-size: 100%;
  padding-block: 6px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.button,
.content__card-link,
.search-form__label {
  cursor: pointer;
}

.search-form__textfield {
  cursor: text;
}

.result__video-container,
.content__list-container {
  position: relative;
}
